page-home {
}

.blue-background {
  //background-color: blue;
  //color: white;
}

.home-headline {
  text-align: center;
}

.dream-status {
  color: red;
  font-size: 5rem;
  text-align: center;
}

.dream-status-wrapper {
  margin-top: 3rem;
}

.dream-text {
  margin-top: 5rem;
  font-size: 1rem;
  text-align: center;
}

.loading-image-wrapper {
  display: flex;
}

.loading-image {
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 15rem;
  width: auto;
}

.lucid-progress {
  margin-top: 5rem;
  width: 100%;
  height: 2rem;
}

.dream-content {
  height: 20rem;
  border: 1px solid transparent;
}
