<ion-content padding class="blue-background">
  <h2 class="home-headline">{{ translationService?.translations?.homeHeadline }}</h2>
  <div class="dream-content">
    <div class="dream-status-wrapper">
      <h1 class="dream-status" *ngIf="!checkingDream">{{ translationService?.translations?.no }}</h1>
    </div>
    <!-- Show if dream state is displayed -->
    <div class="dream-text" *ngIf="!checkingDream">
      {{ translationService?.translations?.homeText }}
    </div>

    <!-- Show if dreaming is checked again -->
    <div *ngIf="checkingDream" class="loading-image-wrapper">
      <img class="loading-image" src="assets/img/loading.gif">
    </div>
  </div>
  <button ion-button outline block icon-left (click)="checkDreamState()" [disabled]="checkingDream">
    <ion-icon name="refresh"></ion-icon>
    {{ translationService?.translations?.tryAgain }}
  </button>

  <progress class="lucid-progress" [value]="progress" max="100"></progress>
  {{ translationService?.translations?.progress }}: {{progress}}%
</ion-content>

<ion-header>
  <ion-navbar>
    <ion-title>{{ translationService?.translations?.homeTitle }}</ion-title>
  </ion-navbar>
</ion-header>
