page-home {
}

.blue-background {
  //background-color: blue;
  //color: white;
}

.home-headline {
  text-align: center;
}

.dream-status {
  margin-top: 5rem;
  color: red;
  font-size: 5rem;
  text-align: center;
}

.dream-text {
  margin-top: 5rem;
  font-size: 1rem;
}

.loading-image {
  display: inline;
}

.dream-content {
  height: 22rem;
  border: 1px solid transparent;
}
